<div class="container">
  <div class="row">
      <div class="card my-auto shadow col-md-5">
          <div class="card-body">
              <div class="text-center">
                  <h2>Add IP Address</h2>
              </div>

              <p style="color: lightslategray; text-align: center;">Please enter your login details</p>

              <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
                  <!-- IP Address Input -->
                  <div class="form-group">
                      <label for="ipaddress">IP Address</label>
                      <input type="ipaddress" id="ipaddress" placeholder="IP Address" class="form-control" formControlName="ipaddress" name="ipaddress"/>
                  </div>
                  <!-- Description Input -->
                  <div class="form-group">
                      <label for="description">Description/Label</label>
                      <input type="description" id="description" placeholder="Description/Label" class="form-control" formControlName="description" name="description" />
                  </div>

                  <!-- Submit Button -->
                  <input type="submit" class="btn btn-primary w-100" value="Add" name="">
              </form>

          </div> <!-- End card-body -->
      </div> <!-- End card my-auto -->


      <!-- List of IP Address -->
      <div class="card my-auto shadow col-md-7 ip-list">
          <div class="card-body h-100">
              <p style="color: lightslategray; text-align: center;">List of IP Address</p>

              <table *ngIf="ip_list.length > 0" class="table table-striped" >
                  <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Description / Label</th>
                        <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let ip of ip_list; index as i">
                        <th scope="row">{{ ip.id }}</th>
                        <td>{{ ip.name }} </td>
                        <td>{{ ip.description }}</td>
                        <td>
                          <button type="button" class="btn btn-primary" (click)="open(content, ip)">Edit</button>
                        </td>
                      </tr>
                  </tbody>
              </table>

          </div> <!-- End card-body -->

      </div> <!-- End card my-auto -->

  </div> <!-- End row -->

</div> <!-- End container -->


<!-- Modal -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update IP Description</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateForm" (ngSubmit)="submitUpdateForm()" autocomplete="off">

        <!-- Description Input -->
        <div class="form-group">
            <label for="description">Description/Label</label>
            <input type="text" id="description" placeholder="Description/Label" class="form-control" formControlName="description" name="description" />
        </div>

        <!-- Hidden ID Input -->
        <input type="text" id="tempId" class="form-control" formControlName="id" name="tempId" hidden/>

        <!-- Update Button -->
        <input type="submit" class="btn btn-primary w-100" value="Update" name="" (click)="modal.close('')">
    </form>
    </div>
  </ng-template>
